{% block widget_content %}
<div class="panel panel-primary" id="initiative-tracker">
  <div class="panel-heading">
    <h3 class="panel-title">History Log</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-8">
            <input type="text" class="form-control input-sm" id="entry-text" placeholder="Add new entry..." data-history-id="{{ history.id }}">
          </div>
          <div class="col-xs-1">
            <button id="add-new-entry" class="btn btn-default btn-sm">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div id="history-entries">
    </div>
  </div>
</div>
{% endblock %}

{% block widget_script %}
<script type="text/javascript">

$(document).ready(function() {

  loadHistoryLog();

  $("body").on('mouseenter', '.entry-text', function() {
      $($(this).find(".entry-text-delete")[0]).css('display', 'inline');
  });

  $("body").on('mouseleave', '.entry-text', function() {
      $($(this).find(".entry-text-delete")[0]).css('display', 'none');
  });

  $("body").on('click', '.entry-text-delete', function() {
      var uri = $(this).parent().attr('data-resource-uri');
      $.ajax({
        headers : {
            'Accept' : 'application/json',
            'Content-Type' : 'application/json'
        },
        url : uri,
        type : 'DELETE',
        success : function(response, textStatus, jqXhr) {
            $('.bottom-left').notify({
              message: { text: 'Your entry has been deleted!  ' }
            }).show();
            $("#history-entries").html("");
            loadHistoryLog();
        },
        error : function(jqXHR, textStatus, errorThrown) {
            $('.bottom-left').notify({
              message: { text: 'Error! ' + textStatus }
            }).show();
            console.log("The following error occured: " + textStatus, errorThrown);
        }
      });
  });

  $("#add-new-entry").click(function() {
    var entry_text = $("#entry-text").val();
    var history_id = $("#entry-text").attr('data-history-id');

    $.ajax({
        headers : {
            'Accept' : 'application/json',
            'Content-Type' : 'application/json'
        },
        url : '/api/v1/history/' + history_id + '/entries/',
        type : 'POST',
        data : JSON.stringify({text: entry_text}),
        success : function(response, textStatus, jqXhr) {
            $('.bottom-left').notify({
              message: { text: 'Your entry has been saved!  ' }
            }).show();
            $("#history-entries").html("");
            loadHistoryLog();
        },
        error : function(jqXHR, textStatus, errorThrown) {
            $('.bottom-left').notify({
              message: { text: 'Error! ' + textStatus }
            }).show();
            console.log("The following error occured: " + textStatus, errorThrown);
        }
    });
  });

});

function loadHistoryLog() {

  var history_id = $("#entry-text").attr('data-history-id');

  if (history_id == undefined || history_id === '') {
    return;
  }

  $.getJSON('/api/v1/history/' + history_id + '/entries/', function( data ) {
      var items = [];
      var dates = [];
      $.each( data.objects.reverse(), function( key, val ) {
        var date = val.date_posted.substring(0, 10);
        if ($.inArray(date, dates) === -1) {
          dates.push(date);
          items.push('<p class="entry-date"> <em> ' + date + ' </em> </p>');
        }

        items.push('<p class="entry-text" data-resource-uri="' + val.resource_uri + '"> <em> ' + val.text + ' </em> <a class="entry-text-delete">x</a> </p>');
      });
     
      $( "<div/>", {
        html: items.join( "" )
      }).appendTo( "#history-entries" );
  });
}

</script>


{% endblock %}