/* Large desktop*/
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linediv-r {
        border-left: 1px white solid;
    }
}

/* Landscapes phones and down*/
@media (max-width: 480px) {
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linediv-r {
        border-left: 1px white solid;
    }
}

/* All form factors */

/* Main body and headings */
body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}
.lead p {
  padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-size: 18px;
  line-height: 24px;
}

/* Inputs */
.width-sm {
  width: 60px;  
}

.input-xs {
  height: 20px;
  line-height: 0.75;
  border-radius: 0;
  float: left;
  width: 50%;
  padding: 3px 10px;
  font-size: 13px;
}

td {
  min-width: 57px;
}