<ul class="nav nav-stacked" id="sidebar">
  <!-- This is a sidebar -->
  <li class="character-data" data-character-id="1" >
    <a data-toggle="modal" href="#1">{{ name }}</a>

    <div class="modal fade character-info" id="1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h5>Attributes</h5>
            <div class="attributes">
                <span> FRZ: 18/100</span>
            </div>
            <h5>Saving Throws</h5>
            <div class="saving-throws">
                <p> FORT: 10 + 5 + 2</p>
            </div>
            <h5>Armor Class</h5>
            <p>CA: 18</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </li>
</ul>
