<!DOCTYPE html>
<html lang="en">
    <head>
      {% block html_head %}
        {% block meta %}
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% endblock %}
        {% block meta_extra %}{% endblock %}

        {% block html_title %} <title>Master's Tools</title> {% endblock %}

        {% block css %}
          <!-- Twitter Bootstrap -->
          <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
          <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">

          <!-- bootstrap widget theme 
          <link rel="stylesheet" href="{{ STATIC_URL }}css/theme.bootstrap.css">
          -->

          <!-- fonts -->
          <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
          <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">

          <!-- site styles -->
          <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
        {% endblock %}
        {% block css_extra %}{% endblock %}

        {% block js %}
          <!-- jQuery -->
          {% block jquery_js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-2.0.3.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
          {% endblock %}

          <!-- TableSorter -->
          <script type="text/javascript" src="{{ STATIC_URL }}js/tablesorter/jquery.tablesorter.js"></script>
          <script type="text/javascript" src="{{ STATIC_URL }}js/tablesorter/jquery.tablesorter.pager.js"></script>
          <script type="text/javascript" src="{{ STATIC_URL }}js/tablesorter/jquery.tablesorter.widgets.js"></script>
        {% endblock %}
        {% block js_extra %}{% endblock %}
      {% endblock %}
    </head>
    <body>
      {% block main_navbar %}
        {% include "website/main_navbar.html" %}
      {% endblock %}

      <div class="container">
          {% block main_container %}
            {# main content goes here. #}
          {% endblock %}
      </div>

      {% block js_bottom_extra %}{% endblock %}
    </body>
</html>