{% extends "website/base_site.html" %}

{% block css_extra %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/sidebar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/character_box.css">
{% endblock %}

{% block js_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/character_utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/play_room.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/DiceRoller.js"></script>
{% endblock %}

{% block main_container %}
<div id="initiative-tracker" class="row-fluid">
    <div class="col-md-2" id="leftCol">
      <ul class="nav nav-stacked" id="sidebar">
        <!-- This is a sidebar -->
        <li><a href="#sec0">Section 0</a></li>
        <li><a href="#sec1">Section 1</a></li>
        <li><a href="#sec2">Section 2</a></li>
        <li><a href="#sec3">Section 3</a></li>
        <li><a href="#sec4">Section 4</a></li>
      </ul>
    </div> 

    <div class="col-lg-5">
        <h2> Initiative Tracker </h2>
        <div>
          <h5>Add new Row</h5>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-5">
                <input type="text" class="form-control input-sm" id="inputName" placeholder="Character name...">
              </div>
              <div class="col-xs-3">
                <input type="number" class="form-control input-sm" id="inputDex" placeholder="Dex...">
              </div>
              <div class="col-xs-3">
                <input type="number" class="form-control input-sm" id="inputMod" placeholder="Modif...">
              </div>
              <div class="col-xs-1">
                <button id="add-new-row" class="btn btn-default btn-sm">Add</button>
              </div>
            </div>
          </div>
        </div>

        <table id="initiative-tracker-table" class="tablesorter table table-bordered">
          <thead>
            <tr>
              <th> </th>
              <th>Name</th>
              <th>Dex</th>
              <th>Mod</th>
              <th>Init</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>

    <div class="col-lg-4 col-lg-offset-1">
      {% include "widgets/life_tracker.html" %}        
    </div>
</div>
{% endblock %}