{% extends "website/base_site.html" %}

{% block css_extra %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/sidebar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/character_box.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-notify.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/history.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/character_info.css">
{% endblock %}

{% block js_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/character_utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/play_room.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/DiceRoller.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-notify.js"></script>
{% endblock %}

{% block main_container %}
<div id="initiative-tracker" class="row-fluid">
    <div class="col-lg-2" id="leftCol">
      <ul class="nav nav-stacked" id="sidebar">
        <!-- This is a sidebar -->
        {% for character in characters %}
          <li class="character-data" data-character-id="{{ character.id }}" >
            <a data-toggle="modal" href="#{{character.id}}">{{ character.name }}</a>

            <div class="modal fade character-info" id="{{character.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <h5>Attributes</h5>
                    <div class="attributes">
                      {% for attribute in character.attributes %}
                        <span> {{attribute.name}}: {{ attribute.value }}</span>
                      {% endfor %}
                    </div>
                    <h5>Saving Throws</h5>
                    <div class="saving-throws">
                      {% for saving in character.saving_throws %}
                        <p> {{saving.name}}: {{ saving.base_value }} + {{ saving.misc_mod }} + {{ saving.temp_mod }}</p>
                      {% endfor %}
                    </div>
                    <h5>Armor Class</h5>
                    <p>CA: {{ character.armor_class.armor }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </li>
        {% endfor %}
      </ul>
    </div> 

    <div class="col-lg-6">
      {% include "widgets/initiative_tracker.html" %}

      {% include "widgets/history_log.html" %}
    </div>

    <div class="col-lg-4">
      {% include "widgets/life_tracker.html" %}
    </div>

     <div class='notifications bottom-left'></div>
</div>
{% endblock %}