{% extends "website/base_site.html" %}

{% block css_extra %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/sidebar.css">
{% endblock %}

{% block js_extra %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/character_utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/play_room.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sidebar.js"></script>
{% endblock %}

{% block main_container %}
<div id="initiative-tracker" class="row-fluid">
    <div class="col-md-3" id="leftCol">
      <ul class="nav nav-stacked" id="sidebar">
        <!-- This is a sidebar -->
        <li><a href="#sec0">Section 0</a></li>
        <li><a href="#sec1">Section 1</a></li>
        <li><a href="#sec2">Section 2</a></li>
        <li><a href="#sec3">Section 3</a></li>
        <li><a href="#sec4">Section 4</a></li>
      </ul>
    </div> 

    <div class="col-lg-4">
        <h2> Initiative Tracker </h2>
        <div>
          <h5>Add new Row</h5>
          <div class="form-group">
            <input type="text" class="form-control" id="inputName" placeholder="Character name...">
            <input type="number" class="form-control input-small" id="inputDex" placeholder="Dex...">
            <input type="number" class="form-control input-small" id="inputMod" placeholder="Modif...">
            <button id="add-new-row" style="margin-top: -8px;" class="btn btn-default">Add</button>
          </div>
        </div>

        <table id="initiative-tracker-table" class="tablesorter table table-bordered">
          <thead>
            <tr>
              <th>Remove</th>
              <th>Character</th>
              <th>Dex</th>
              <th>Mod</th>
              <th>Initiative</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>

    <div class="col-lg-4 col-lg-offset-1">
        <h2> Life Tracker </h2>
        <div class="form-inline">
          <select id="selectName" class="form-control">
            <option>Sirius</option>
            <option>Havoc</option>
            <option>Thank</option>
            <option>Haliax</option>
            <option>K</option>
            <option>Jesus</option>
          </select>
          <input type="number" value="0" class="form-control input-small" id="damageInput" placeholder="Damage">
          <button id="hit-btn" class="btn btn-default">Hit!</button>
          <button id="heal-btn" class="btn btn-default">Heal!</button>
        </div>
        <br>
        <table id="life-tracker-table" class="tablesorter table table-bordered">
          <thead>
            <tr>
              <th>Sirius (81)</th>
              <th>Havoc (169)</th>
              <th>K</th>
              <th>Thank (107)</th>
              <th>Haliax (111)</th>
              <th>Jesus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>81</td>
              <td>169</td>
              <td>0</td>
              <td>107</td>
              <td>111</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}